<div class="col-md-12">

  <div class="text-center">
    <h2>Pruebas</h2>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a class="btn btn-primary" href="#!/instrucciones">
        <i class="fa fa-user-circle-o"></i> Instrucciones
      </a>
      <br /><br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a class="btn btn-primary" href="#!/cuestionario/profesores">
        <i class="fa fa-user-circle-o"></i> Cuestrionario
      </a>
      <br /><br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a class="btn btn-primary" href="#!/resultados">
        <i class="fa fa-user-circle-o"></i> Resultados
      </a>
      <br /><br />
    </div>
  </div>
</div>
